/* Global Variables */
/*///////////////////////*/

@import url('https://fonts.googleapis.com/css2?family=Orienta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Orienta', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 12fr;
  gap: 4;
  grid-template-rows: auto;
}

:root {
  --primary: #2C97E3;
  --gray: #6C6F73;
  --black: ;
  --white: #FFFFFF;
}

/* Global Variables */
/*///////////////////////*/


.roboto {
  font-family: 'Roboto Mono', monospace;
}