/* Global Variables */
/*///////////////////////*/

@import url('https://fonts.googleapis.com/css2?family=Orienta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Orienta', sans-serif;
}

ul {
  list-style: none;
}

a, a:visited, a:active {
  text-decoration: none;
  color: var(--white);
}

:root {
  --primary: #2C97E3;
  --grey: #6C6F73;
  --black: black;
  --white: #FFFFFF;
  --bg: #FBFAF7;
}

/* Utility Elements */
/*///////////////////////*/

.block-center {
 display: block;
}

.block-left {
  display: block;
  text-align: left;
 }

.flex {
  display: flex;
}

.line {
  width: 15rem;
  height: 0;
  border: 1px solid var(--grey);
  margin: 20px;
  display: inline-block;
}

.line-center {
  display: inline-block;
  padding: 0 25px 0 25px;
}

/* Grid Elements */
/*///////////////////////*/

.grid {
  display: grid;
  grid-template-columns: repeat(12 ,1fr);
  gap: 1rem;
  grid-auto-rows: minmax(94px, auto);
}

.grid-nav {
  grid-column: 1 / 13;
}

.grid-logo {
  grid-column: 9 / 12;
  grid-row: 2 / 4;
  align-self: center;
  justify-self: center;
}

.grid-title {
  grid-column: 9 / 12;
  align-self: center;
}

.grid-title-resume {
  grid-column: 5 / 12;
  align-self: center;
}

.grid-journey {
  grid-column: 7 / 13;
  align-self:flex-start;
}

.grid-graphic {
  grid-column: 3 / 9;
  grid-row: 4 / 6;
}

.grid-graphic-resume {
  grid-column: 3 / 5;
  grid-row: 5 / 7;
}

.grid-footer {
  grid-column: 1 / 13;
  grid-row: 7;
}

/* Background Elements */
/*///////////////////////*/

.bg {
  position: absolute;
  background-image: url(../svg/bg.svg);
  background-repeat: no-repeat;
  z-index: -1;
  background-color: var(--bg);
}


/* Nav Bar */
/*///////////////////////*/

.nav-bar {
  display: flex;
  color: var(--white);
  font-size: 2.5rem;
}

.nav-bar > li {
  padding-left: 7rem;
  margin-top: 2rem;
  position: relative;
}

.nav-bar > li::before {
  font-size: 2.5rem;
  content: "";
  position: absolute;
  width: 65%;
  height: .2rem;
  bottom: 0;
  left: 6.7rem;
  background-color: var(--white);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.nav-bar > li:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.active {
  font-size: 2.8rem;
}

.active-img {
  width: 2rem;
  height: 2rem;
  filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(76deg) brightness(103%) contrast(102%);
  display: inline-block;
  margin-right: 1rem;
}

/* Buttons */
/*///////////////////////*/

.btn {
  display: inline-block;
  color: var(--white);
  text-align: center;
  font-size: 2rem;
  padding: 1.3rem;
  margin: 1.3rem 1.3rem 1.3rem 6rem;
  background-color: var(--primary);
  border-radius: 20px;
  width: 35rem;
}

/* Main Content */
/*///////////////////////*/

h2 {
  font-size: 3.5rem;
  text-align: center;
  padding: 1rem;
}

.block-left > h2 {
  font-size: 3rem;
  text-align: left;
  padding: 1rem;
}
h1 {
  font-size: 4.2rem;
  text-align: center;
  padding: 1rem;
}

h3 {
  font-size: 3rem;
  padding: 1rem;
  font-weight: 300;
}

section > p {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  color: var(--grey);
  margin: .8rem;
}

.logo {
  justify-content: center;
  padding-bottom: 2rem;
}

.laptop {
  margin-top: 7rem;
}

.wireframe {
  height: 38.9rem;
  width: 56.3rem;
}
/* Contact From */
/*///////////////////////*/

.roboto {
  font-family: 'Roboto Mono', monospace;
}

/* Footer */
/*///////////////////////*/

.footer {
  text-align: center;
  font-size: 1.4rem;
  color: var(--black);
}