/* Global Styles */
/* /////////////////////////////////////// */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.3;
  padding: 0;
  margin: 0;
}

.bg {
  background-color: #f6f8fa;
}

.col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:1.5em;
}

.full-col {
  display: inline-grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.conner {
  align-self: end;
  padding-left: 250px;
}

a, ul {
  text-decoration: none;
  list-style-type: none;
  color: black;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

main {
  align-items: center;
}

.center-div {
  text-align: center;
}

.graphic-bg {
  background: url(./svgGraphics/bg.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  /* clip-path: polygon(35% 0, 21% 35%, 0 84%, 0 0); */
  /* clip-path: polygon(0 0, 58% 0, 30% 39%, 0 80%); */
  position: absolute;
  z-index: -1;
}


/* Nav Bar */
/* /////////////////////////////////////// */

nav > ul > li {
  margin: 12px;
}

.nav-main {
  text-align: center;
  padding: 15px;
  font-size: 26px;
  line-height: .8;
  word-spacing: 15px;
}

.line-nav {
  width: 1050px;
  height: 0;
  border: 1px solid #C4C4C4;
  margin: 2px 0 0 0;
  display: inline-block;
}

a:active {
  padding-bottom: .8px;
  border-bottom: 3.5px solid #cac1c1;
  font-size: 27px;
}

.active {
  border-bottom: 3.5px solid #cac1c1;
  font-size: 27px;
}

a:hover {
  border-bottom: 3px solid #cac1c1;
  cursor: pointer;
}



/* hero section */
/* /////////////////////////////////////// */

.line {
  width: 53px;
  height: 0;
  border: 1px solid #C4C4C4;
  margin: 3px;
  display: inline-block;
}


.line-center {
  display: inline-block;
  padding: 0 25px 0 25px;
}

/* Buttons Styles */
/* /////////////////////////////////////// */

.btn-1 {
  border-radius: 10px;
  padding: 8px;
  width: 100px;
  background: #008FF5;
  border: none;
}

/* Form */
/* /////////////////////////////////////// */

.form-bg {
  border-radius: 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);background-color:#E5E5E5;
  width: 300px;
  padding: 35px;
  letter-spacing: .6px;
  margin: 1.7rem;
}

.form-title {
  font-weight: 550;
  word-spacing: 1.2px;
  letter-spacing: 1.2px;
}

.form-text{
  font-size: 20px;
  margin: 5px 0 5px 0;
  line-height: 1.8;
  display:inline-block;
  letter-spacing: .6px;
}

.btn-form {
  font-size: 25px;
  margin-top: 25px;
  width: 230px;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 1.3px;
}


input {
  width: 230px;
  height: 35px;
  border-radius: 5px;
  color:black;
  font-size: 18px;
  letter-spacing: 1.1px;
  border: 0;
}

textarea {
  border-radius: 5px;
  color:black;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Imgaes */
/* /////////////////////////////////////// */

.img-st {
  margin: 45px;
  align-content: center;
}

.mail {
  width: 650px;
  height: 350px;
  filter: drop-shadow(-12px 25px 10px rgba(87, 84, 84, 0.726)); 
}

.self-port {
  width: 16em;
  height: 16em;
}

/* Footer */
/* /////////////////////////////////////// */

.foot-main {
  clear: both;
  text-align: center;
  border-top: .8px solid grey;
  margin-top: 45px;
}

/* Animation */
/* /////////////////////////////////////// */

@keyframes mail{
  0%{
      transform: rotate(0) scale(0) translateX(0) translateY(100%);
      opacity: 0;
      }
  25%{
      transform: rotate(0) scale(.3) translateX(0) translateY(15%);
      opacity: .3;
      }
  50%{
      transform: rotate(0) scale(.6) translateX(0) translateY(-15%);
      opacity: .6;
      }
  75%{
      transform: rotate(0) scale(.8) translateX(0) translateY(35%);
      opacity: .8;
      }
  100%{
      transform: rotate(0) scale(1) translateX(0) translateY(0);
      opacity: 1;
      }
}

.mailAnimate{
  animation: mail 3s forwards 0s linear;
}

.vanish {
  opacity: 0;
}

.code-style {
  font-size: 10px;
  font-family: monospace;
  align-self: start;
  margin-left: 450px;
  margin-top: 280px;
}

.floating-text {
  animation-name: code;
  animation-delay: 20.17627118644068ms;
  animation-duration: 1983.6203389830503ms;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}
.floating-text-2 {
  animation-name: code;
  animation-delay: 27.742372881355934ms;
  animation-duration: 1953.5322033898308ms;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
.floating-text-3 {
  animation-name: code;
  animation-delay: 32.786440677966105ms;
  animation-duration: 1938.4881355932205ms;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
.floating-text-4 {
  animation-name: code;
  animation-delay: 40.35254237288135ms;
  animation-duration: 1918.4000000000003ms;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
.floating-text-5 {
  animation-name: code;
  animation-delay: 50.4406779661017ms;
  animation-duration: 1903.3559322033896ms;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
.floating-text-6 {
  animation-name: code;
  animation-delay: 63.05084745762724ms;
  animation-duration: 1880.7457627118645ms;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
.floating-text-7 {
  animation-name: code;
  animation-delay: 78.1830508474576ms;
  animation-duration: 1850.5694915254237ms;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
.floating-text-8 {
  animation-name: code;
  animation-delay: 90.79322033898302ms;
  animation-duration: 1820.4813559322033ms;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
.floating-text-9 {
  animation-name: code;
  animation-delay: 98.35932203389848ms;
  animation-duration: 1800.3932203389827ms;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
.floating-text-10 {
  animation-name: code;
  animation-delay: 103.4033898305085ms;
  animation-duration: 1797.8711864406778ms;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes code {
  0%{
    transform: rotate(0) translateX(0) translateY(150%);
    opacity: 0;
  }
/* 25%{
    transform: rotate(0) translateX(0) translateY(15%);
    opacity: .3;
    }
50%{
    transform: rotate(0) translateX(0) translateY(-15%);
    opacity: .6;
    }
75%{
    transform: rotate(0) translateX(0) translateY(35%);
    opacity:  .8;
    } */
100%{
    transform: rotate(0) translateX(0) translateY(0);
    opacity: 1;
    }
}